.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #a72561;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
	font-size: 17px;
	padding-right: 16px;
}
.dropdown-menu a:hover {
	color: #fff;
	background-color: #a72561;
}

.dropdown-toggle::after {
	vertical-align: 0.15em;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
/* Slider */
.slider {
	margin-top: -17px;
}
.carousel-caption {
	left: 10%;
	top: 10%;
	bottom: auto;
	width: 35%;
	right: 4%;
	text-align: unset;
	
}
.text-color-main {
	color: #F0611C;
}

@media only screen and (max-width: 360px) {
	/* For mobile phones: */
	.carousel-caption {
		bottom: auto;
		width: 100%;
		top: 0px;
		left: 10px;
		text-align: unset;
	}
}

/* Cards */
.btn-style {
	border: 1px solid #a72561;
	background-color: #a72561;
	color: #fff;
}
.btn-style:hover {
	color: #a72561;
	background-color: #fff;
}

.btn-style2 {
	border: 1px solid #a72561;
	color: #a72561;
	background-color: #fff;
}
.btn-style2:hover {
	background-color: #a72561;
	color: #fff;
}

.line-styling {
	display: flex;
	flex-direction: row;
}
.line-styling:before,
.line-styling:after {
	content: "";
	flex: 1 1;
	border-bottom: 1px solid #000;
	margin: auto;
}
.line-styling:before {
	margin-right: 10px;
}
.line-styling:after {
	margin-left: 10px;
}



/* footer  */
.footer {
	height: 60vh;
}

.ul-styling li {
	padding-top: 5px;
}

/* Parallax  */
.parallax {
  /* The image used */
  /* background-image: url("./assets/Slider/12.png"); */

  /* Set a specific height */
  height: 70vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}